In [1]:
from google.cloud import bigquery
bq = bigquery.Client(project="cs639-376022")

# Part 1: County Data (Public Dataset)

In [2]:
#q1
q1 = bq.query("""
SELECT geo_id
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE county_name = 'Dane'
""", job_config = bigquery.QueryJobConfig(use_query_cache=False))
q1.to_dataframe().loc[0, 'geo_id']

'55025'

In [3]:
#q2
result = {}
q2 = bq.query("""
SELECT state_fips_code, COUNT(*) as count
FROM bigquery-public-data.geo_us_boundaries.counties
GROUP BY state_fips_code
ORDER BY count DESC
LIMIT 5
""", job_config = bigquery.QueryJobConfig(use_query_cache=False))
df = q2.to_dataframe()
for row in df.iterrows():
    row = row[1]
    if row["state_fips_code"] not in result:
        result[row["state_fips_code"]] = row['count']
result

{'48': 254, '13': 159, '51': 133, '21': 120, '29': 115}

In [4]:
#q3
{'q1': 5 * (q1.total_bytes_billed /1024**4), 'q2': 5 * (q2.total_bytes_billed /1024**4)}

{'q1': 4.76837158203125e-05, 'q2': 4.76837158203125e-05}

# Part 2: HDMA Data (Parquet in GCS)

In [5]:
dataset = bigquery.Dataset("cs639-376022.p7")
bq.create_dataset(dataset, exists_ok=True)

Dataset(DatasetReference('cs639-376022', 'p7'))

In [6]:
config = bigquery.LoadJobConfig(source_format="PARQUET", write_disposition="WRITE_TRUNCATE")
job = bq.load_table_from_uri(["gs://ykong/hdma-wi-2021.parquet"],
                             "cs639-376022.p7.hdma", job_config=config)
job.result()

LoadJob<project=cs639-376022, location=US, id=4c0dd55f-69ef-4b6e-971c-7be3379c5b26>

In [7]:
#q4
[ds.dataset_id for ds in bq.list_datasets("cs639-376022")]

['p7']

In [8]:
#q5
result = {}
q = bq.query("""
SELECT county_name, COUNT(*) as count
FROM cs639-376022.p7.hdma
INNER JOIN bigquery-public-data.geo_us_boundaries.counties on county_code = county_fips_code
GROUP BY county_name
ORDER BY count DESC
LIMIT 10
""")
df = q.to_dataframe()
for row in df.iterrows():
    row = row[1]
    if row["county_name"] not in result:
        result[row["county_name"]] = row['count']
result

{'Milwaukee': 46570,
 'Dane': 38557,
 'Waukesha': 34159,
 'Brown': 15615,
 'Racine': 13007,
 'Outagamie': 11523,
 'Kenosha': 10744,
 'Washington': 10726,
 'Rock': 9834,
 'Winnebago': 9310}

# Part 3: Application Data (Google Sheet Linked to Form)

In [9]:
url = "https://drive.google.com/open?id=1e2qLPyxZ7s5ibMyEg7bxX2wWYAQD2ROAUcZuv8fqhnA"

external_config = bigquery.ExternalConfig("GOOGLE_SHEETS")
external_config.source_uris = ["https://drive.google.com/open?id=1e2qLPyxZ7s5ibMyEg7bxX2wWYAQD2ROAUcZuv8fqhnA"]
external_config.options.skip_leading_rows = 1
external_config.autodetect = True

table = bigquery.Table(dataset.table("app"))
table.external_data_configuration = external_config

table = bq.create_table(table, exists_ok=True)

In [10]:
#q6
q = bq.query("""
SELECT COUNT(*) as count
FROM cs639-376022.p7.app
WHERE income = 125000
""")
q.to_dataframe().loc[0, 'count']

3

In [11]:
#q7
result = {}
q = bq.query("""
CREATE OR REPLACE TABLE cs639-376022.p7.wi
AS

SELECT county_name, county_geom
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE state_fips_code = '55' -- is WI
""")
q.to_dataframe()

q = bq.query("""
CREATE OR REPLACE TABLE cs639-376022.p7.position

AS

SELECT *, ST_GEOGPOINT(longitude, latitude) AS loc
FROM cs639-376022.p7.app
""")
q.to_dataframe()

q = bq.query("""
SELECT county_name, COUNT(*) as count
FROM cs639-376022.p7.position, cs639-376022.p7.wi
WHERE ST_WITHIN(position.loc, wi.county_geom)
GROUP BY county_name
""")

df = q.to_dataframe()
for row in df.iterrows():
    row = row[1]
    if row["county_name"] not in result:
        result[row["county_name"]] = row['count']
result

{'Milwaukee': 1,
 'Dane': 22,
 'Brown': 3,
 'Waukesha': 1,
 'Bayfield': 2,
 'Door': 4,
 'La Crosse': 1,
 'Sheboygan': 1,
 'Monroe': 1,
 'Adams': 1,
 'Walworth': 2,
 'Sauk': 1,
 'Oneida': 1,
 'Columbia': 1,
 'Jefferson': 2,
 'Barron': 1,
 'Green Lake': 1,
 'Kewaunee': 1}

# Part 4: Machine Learning

In [12]:
%load_ext google.cloud.bigquery

In [13]:
%%bigquery
CREATE OR REPLACE MODEL `cs639-376022.p7.model`
OPTIONS(model_type='LINEAR_REG', INPUT_LABEL_COLS=['loan_amount'])

AS

SELECT income, loan_term, loan_amount
FROM `cs639-376022.p7.hdma`

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [14]:
#q8
q = bq.query("""
SELECT *
FROM
ML.EVALUATE(
    MODEL `cs639-376022.p7.model`,
    (
        SELECT income, loan_term, loan_amount
        FROM `cs639-376022.p7.hdma`
    )
)
""")
q.to_dataframe().iloc[0].at["r2_score"]

0.2916541228802071

In [15]:
#q9
q = bq.query("""
SELECT * FROM
ML.WEIGHTS(MODEL `cs639-376022.p7.model`)
""")
q.to_dataframe().loc[0,"weight"]

0.8057773037176675

In [16]:
#q10
q = bq.query("""
SELECT *  
FROM cs639-376022.p7.app
""")
df = q.to_dataframe()
df['loan_term'] = 360
df.to_gbq("cs639-376022.p7.tmp", if_exists='replace')
q = bq.query("""
SELECT *
FROM
ML.PREDICT(
    MODEL `cs639-376022.p7.model`,
    (
        SELECT income, loan_term, loan_amount
        FROM `cs639-376022.p7.tmp`
    )
)
""")
df = q.to_dataframe()
count = 0

for row in df.iterrows():
    row = row[1]
    if row['loan_amount'] > row['predicted_loan_amount']:
        count += 1
count/df.shape[0]

100%|██████████| 1/1 [00:00<00:00, 6978.88it/s]

0.6086956521739131